{% extends "bootstrap.html" %}
{% block content %}
	<div class="row">
		<div class="col"></div>
		<div class="col">
		<button type="button" id="export_button2" class="btn btn-success btn-sm">Export</button>
		<table class="table table-dark table-hover" style="margin-top: 20px;" id="expense_data">
			<center><label>Expenditure statement for {{start_date}} to {{end_date}}</label></center>
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Date</th>
		      <th scope="col">Details</th>
		      <th scope="col">Receipt</th>
		      <th scope="col">Analysis</th>
		      <th scope="col">Amount</th>
		      <th scope="col"></th>
		      <th scope="col">Balance</th>
		    </tr>
		  </thead>
		  <tbody>
		    {% for exp in expense %}
			    <tr>
			      <th scope="row">{{loop.index}}</th>
			      <td>{{exp.date.date()}}</td>
			      <td>{{exp.details}}</td>
			      <td>hasjabat{{exp.id}}</td>
			      <td>{{exp.item}}</td>
			      <td>{{exp.amount}}</td>
			      <td></td>
			      <td>{{exp_cum[loop.index]}}</td>
			    </tr>
		    {% endfor %}
		  </tbody>
		  <tfoot>
		  	<tr>
		      <th scope="row"></th>
		      <td>TOTAL</td>
		      <td></td>
		      <td></td>
		      <td></td>
		      <td>{{exp_cum[-1]}}</td>
		      <td></td>
		      <td>{{exp_cum[-1]}}</td>
		    </tr>
		  </tfoot>
		</table>
	</div>
	<div class="col"></div>
	</div>

	<script type="text/javascript">
		function table_to_excel(type) {
			var data = document.getElementById('expense_data')
			var file = XLSX.utils.table_to_book(data, {sheet:'sheet1'})
			XLSX.write(file, {bookType:type, bookSST:true, type:'base64'})
			XLSX.writeFile(file, 'file.'+type)
		}

		const export_button = document.getElementById('export_button2')
		export_button.addEventListener('click', () => {
			table_to_excel('xlsx')
		})
	</script>
{% endblock %}
	