{% extends "bootstrap.html" %}
{% block content %}
	<div class="row">
		<div class="col-3"></div>
		<div class="col">
			<button type="button" id="export_button1" class="btn btn-success btn-sm">Export</button>
			<table class="table table-dark table-hover" style="margin-top: 20px;" id="income_expense_data">
				<center>
					<label>Income & Expenditure Statement for the year {{start_date}} to {{end_date}}</label>
				</center>
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Date</th>
		      <th scope="col">Details</th>
		      <th scope="col">Analysis</th>
		      <th scope="col">Debit</th>
		      <th scope="col">Credit</th>
		      <th scope="col">Balance</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% set len = income|length %}
		    {% for inc in income %}
			    <tr>
			      <th scope="row">{{loop.index}}</th>
			      <td>{{inc.date.date()}}</td>
			      <td>Income</td>
			      <td>{{inc.category}}</td>
			      <td></td>
			      <td>{{inc.amount}}</td>
			      <td>{{total[loop.index - 1]}}</td>
			    </tr>
		    {% endfor %}

		    {% for exp in expense %}
			    <tr>
			      <th scope="row">{{loop.index}}</th>
			      <td>{{exp.date.date()}}</td>
			      <td>Expense</td>
			      <td>{{exp.item}}</td>
			      <td>{{exp.amount}}</td>
			      <td></td>
			      <td>{{total[loop.index + len -1]}}</td>
			    </tr>
		    {% endfor %}
		  </tbody>
		  <tfoot>
		  	<tr>
		      <th scope="row"></th>
		      <td>TOTAL</td>
		      <td></td>
		      <td></td>
		      <td>{{exp_cum[-1]}}</td>
		      <td>{{inc_cum[-1]}}</td>
		      <td>{{inc_cum[-1] - exp_cum[-1]}}</td>
		    </tr>
		  </tfoot>
		</table>
		</div>
		<div class="col-3"></div>
	</div>

	<script type="text/javascript">
		function table_to_excel(type) {
			var data = document.getElementById('income_expense_data')
			var file = XLSX.utils.table_to_book(data, {sheet:'sheet1'})
			XLSX.write(file, {bookType:type, bookSST:true, type:'base64'})
			XLSX.writeFile(file, 'file.'+type)
		}

		const export_button = document.getElementById('export_button1')
		export_button.addEventListener('click', () => {
			table_to_excel('xlsx')
		})
	</script>
{% endblock %}