{% extends "bootstrap.html" %}
{% block content %}
<style type="text/css">
	#reportforms{
		border: 2px solid gold;
		margin-top:20px;
		color: greenyellow;
		background: indianred;
	}

	#but2{
		margin-bottom: 10px;
	}
</style>
<div class="row">
	<div class="col"></div>
	<div class="col">
		<div class="login form">
		<form method="" class="row g-3" id = "reportforms">
			{{form.hidden_tag()}}
			<fieldset>
				<center><legend>Reports</legend></center>
				<div class="col-md-12">
					{{ form.report.label(class = "form-label shadow-sm")}}
						{% if form.report.errors %}
							<div> {{form.report.errors[0]}}</div>
						{% endif %}
					{{ form.report(class = "form-control shadow-sm text-center")}}
				</div >
				<div class="col-md-12">
					{{ form.filter_by.label(class = "form-label shadow-sm")}}
					{{ form.filter_by(class = "form-control shadow-sm text-center")}}
				</div>
				<div>
					{{ form.start.label(class = "form-label shadow-sm")}}
					{{ form.start(class = "form-control shadow-sm text-center")}}
				</div>
				<div>
					{{ form.end.label(class = "form-label shadow-sm")}}
					{{ form.end(class = "form-control shadow-sm text-center")}}
				</div>
			</fieldset>
			<div>
				<div class="col-md-12" id="but2">
					<center>{{ form.submit(class = "btn btn-lg btn-primary rounded-pill")}}</center>
				</div>
			</div>
		</form>
	</div>
	</div>
	<div class="col"></div>
</div>
	
{% endblock %}
	